$primary-dark-blue-violet: #1A1A2E;
$accent-orange: #FF6E40;
$accent-cambridge-blue: #82C9A8;
$half-transparent-cambridge-blue: rgba(130, 201, 168, 0.5);
$dim-white: #F0F0F0;
$light-blue-violet: #555572;
$half-transparent-light-blue-violet: rgba(85, 85, 114, 0.5);
$border-white: rgba(240, 240, 240, 0.2);