@import 'color-vars';

nav {
    background-color: $primary-dark-blue-violet;
    color: $dim-white;
    height: 100px;
}

header {
    background-color: $primary-dark-blue-violet;
    z-index: 4;
    width: 100%;
    border-bottom: solid 1px rgba(240, 240, 240, 0.2);
}

.user {
    margin-left: 24px;

    img {
        width: 48px;
        height: 48px;
        margin-right: 8px;
    }
}

.aside-main {
    padding-top: 100px;
    background-color: $primary-dark-blue-violet;
}

aside {
    background-color: $primary-dark-blue-violet;
    top: 100px;
    bottom: 0;
    left: 0;
    border-right: solid 1px rgba(240, 240, 240, 0.2);
    width: 240px;
}

.search-bar {
    width: 60%;
    border: 10px solid;
    border: double 4px transparent;
    border-radius: 80px;
    background-image: linear-gradient($light-blue-violet, $light-blue-violet), radial-gradient(circle at top left, $accent-orange, $accent-cambridge-blue);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    input {
        background: transparent;
        border: none;
        flex: 1;
        outline: none;
        color: $dim-white;

        &::placeholder {
            color: rgba(240, 240, 240, 0.6);
        }
    }

    i {
        color: $dim-white;
    }
}

.search-button {
    background: transparent;
    border: none;
}

.main-container {
    width: calc(100% - 240px);
}

.aside-nav i {
    margin-left: 16px;
}
