@import 'color-vars';

.heading-container {
    background-color: $half-transparent-light-blue-violet;
    padding: 16px 24px;
    width: 100%;
    margin-bottom:24px;
    h2 {
        color: $dim-white;
        font-size: 130%;
    }

    span {
        color: $half-transparent-cambridge-blue;
    }
}

.post-content-container {
    padding-top: 36px;
    color: $dim-white;

    p {
        font-weight: 200;
        line-height: 120%;
    }
}

.comments{
    width: 100%;
    border-top: 2px solid $half-transparent-cambridge-blue;
    padding-top: 24px;
}

.comment-container{
    margin-left: 48px;
    padding-bottom: 24px;
}

.reply-container{
    margin-left: 48px;
    padding-top: 16px
}

.content-p{
    margin-top: 12px;
    margin-bottom: 12px;
}

.section-heading-small{
    border: 1px solid $accent-cambridge-blue;
    width: fit-content;
    padding: 6px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-weight: 600;
}

a{
    &:hover{
        color: $accent-orange;
    }
}

.time-published{
    color: $border-white;
}

.reply-container{
    margin-bottom: 8px;
}

.post-create-form {
    display: flex;
    width: 100%;
    padding: 1.2rem;

    label {
        color: $accent-cambridge-blue;
        font-size: 1rem;
    }

    button {
        padding: 16px 24px;
        width: fit-content;
        background: linear-gradient(90deg, $accent-orange 0%, $accent-cambridge-blue 100%);
        color: $primary-dark-blue-violet;
        font-weight: 800;
        border: none;
        border-radius: 12px;
    }
}

.new-post-textarea {
    resize: none;
    min-height: 300px;
    padding: 24px;

}

.new-post-heading-input, .new-post-textarea {
    border: none;
    background-color: $half-transparent-light-blue-violet;
    border-radius: 12px;
    color: $dim-white;

    &:focus {
        color: $dim-white;
        outline: none;
    }
}

.new-post-heading-input{
    padding: 16px;
}

.post-create-tags-container {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    padding: 24px;
    border: none;
    background-color: $half-transparent-light-blue-violet;
    border-radius: 12px;

    .checkbox-wrapper{
        margin: 4px;
    }
}

.post-create-form-main-content {
    display: flex;
    flex-direction: column;
    width: 70%;

    > * {
        margin-bottom: 16px;
    }

    label{
        font-size: 1.2rem;
    }
}

.highlight{
    color: $accent-orange;
    font-weight: 800;
}

.search-query-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;
    background-color: $half-transparent-light-blue-violet;
    border-radius: 5px;
    margin-bottom: 20px;
    color:$dim-white;
    margin-top: 24px;
    margin-left: 24px;

    span {
        font-size: 14px;
    }

    #search-keyword {
        margin-left: 8px;
        font-weight: bold;
        margin-right: 10px;
    }

    a {
        color: $accent-orange;
        text-decoration: none;

        .fa-xmark {
            font-size: 16px;
            margin-left: 5px;
        }
    }
}
