@import 'color-vars';

.heading-container {
    background-color: $half-transparent-light-blue-violet;
    padding: 16px 24px;
    width: 100%;
    margin-bottom:24px;
    h2 {
        color: $dim-white;
        font-size: 130%;
    }

    span {
        color: $half-transparent-cambridge-blue;
    }
}

.post-content-container {
    padding-top: 36px;
    color: $dim-white;

    p {
        font-weight: 200;
        line-height: 120%;
    }
}

.comments{
    width: 100%;
    border-top: 2px solid $half-transparent-cambridge-blue;
    padding-top: 24px;
}

.comment-container{
    margin-left: 48px;
    padding-bottom: 24px;
}

.reply-container{
    margin-left: 48px;
    padding-top: 16px
}

.content-p{
    margin-top: 12px;
    margin-bottom: 12px;
}

.section-heading-small{
    border: 1px solid $accent-cambridge-blue;
    width: fit-content;
    padding: 6px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-weight: 600;
}

a{
    &:hover{
        color: $accent-orange;
    }
}

.time-published{
    color: $border-white;
}

.reply-container{
    margin-bottom: 8px;
}
