@import 'color-vars';

#post-section{
    margin-top: 36px;
}

.post-preview-card {
    background-color: $primary-dark-blue-violet;
    border-radius: 8px;
    margin-bottom: 16px;
    width: 70%;
    border: 1px solid $border-white;
}

.user-short-content {
    position: relative;
    padding: 20px 36px 16px;
    margin-bottom: 12px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, $half-transparent-light-blue-violet, $primary-dark-blue-violet);
        border-start-start-radius: 8px;
        border-start-end-radius: 8px;
        z-index: 0;
    }
}

.user-info {
    z-index: 1;
    color: $dim-white;

    span {
        margin-bottom: 4px;
        font-size: 12px;
    }

    img {
        z-index: 1;
        margin-right: 12px;
        width: 40px;
        height: 40px;
    }
}

.reputation{
    color: $accent-cambridge-blue;
    i{
        font-size: 110%;
    }
}

.main-preview-content {
    margin: 24px;
    color: $dim-white;
    font-weight: 200;
    margin-bottom: 12px;

    h3 {
        font-size: 20px;
        margin-bottom: 8px;
        font-weight: 600;
    }

    p {
        font-size: 16px;
    }
}

.tag-section{
    margin: 24px;
}

.tag {
    color: $accent-cambridge-blue;
    border-radius: 8px;
    background-color: $half-transparent-light-blue-violet;
    padding: 8px 10px;
    font-size: 12px;
    border: none;

    &:hover {
        color: $primary-dark-blue-violet;
        background-color: $accent-cambridge-blue;
    }

    transition: 0.3s all ease;
}

.vote-result {
    margin-left: 24px;
    color: $dim-white;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;

    .vote-arrow-container {
        margin-left: 8px;
        i {
            font-size: 20px;
            cursor: pointer;
        }
    }
}

.filter-h3 {
    color: $dim-white;
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 10px;
}

.tag-filter-section {
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    border-bottom: 1px solid $border-white;
}

.checkbox-wrapper {
    input[type="checkbox"] {
        display: none;
        visibility: hidden;
    }

    label {
        position: relative;
        padding-left: 2em;
        padding-right: 1em;
        line-height: 2;
        cursor: pointer;
        display: inline-flex;
        color: $dim-white;

        &:before {
            box-sizing: border-box;
            content: " ";
            position: absolute;
            top: 0.3em;
            left: 0;
            display: block;
            width: 1.4em;
            height: 1.4em;
            border: 2px solid $light-blue-violet;
            border-radius: 6px;
            z-index: -1;
        }
    }

    input[type=checkbox]:checked + label {
        padding-left: 1em;
        color: $accent-cambridge-blue;
    }

    input[type=checkbox]:checked + label:before {
        top: 0;
        width: 100%;
        height: 2em;
        background: $half-transparent-cambridge-blue;
        border-color: $accent-cambridge-blue;
    }

    label,
    label::before {
        transition: 0.25s all ease;
    }
}

.scrollable-container {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: $primary-dark-blue-violet;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light-blue-violet;
        border-radius: 4px;
    }
}

.aside-main {
    padding-top: 100px;
    background-color: $primary-dark-blue-violet;
}

aside {
    background-color: $primary-dark-blue-violet;
    top: 100px;
    bottom: 0;
    left: 0;
    border-right: solid 1px $border-white;
    width: 240px;
}

.main-container {
    width: calc(100% - 240px);
}

.aside-nav i {
    margin-left: 16px;
}

.read-link{
    margin-left: 24px;
    margin-bottom: 24px;
    border: 2px solid $accent-orange;
    width: fit-content;
    padding: 8px;
}

.sort-section {
    margin-top: 24px;

    label{
        padding: 8px;
        color: $dim-white;
    }

    select {
        padding: 8px;
        margin: 4px;
        border: 1px solid $border-white;
        border-radius: 4px;
        background-color: $primary-dark-blue-violet;
        color: $dim-white;
        outline: none;

        option {
            background-color: $primary-dark-blue-violet;
            color: $dim-white;
        }

        &:hover {
            border-color: $accent-cambridge-blue;
        }

        &:focus {
            border-color: $accent-orange;
        }
    }
}