@using Microsoft.AspNetCore.Mvc.Localization
@model ICollection<DevRhythm.App.DTOs.PostShortDto>

@inject IHtmlLocalizer<DevRhythm.Web.SharedResource> HtmlLocalizer

@{
       var userStringId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
}

@foreach (var post in Model)
{
    <div class="post-preview-card d-flex flex-column">
        <div class="user-short-content">
            <user-short-info user="post.Author"></user-short-info>
        </div>
        <div class="main-preview-content">
            <h3>@post.Heading</h3>
            <p>@post.PreviewContent</p>
        </div>
        <div class="tag-section">
            @await Html.PartialAsync("_TagCollectionPartial", post.Tags)
        </div>
        @await Html.PartialAsync("_VotePartial", new VotePartialModel{
                VoteType = DevRhythm.Shared.Enums.VoteType.PostVote,
                VoteResult = post.VoteResult,
                EntityId = post.Id,
                UserId = long.TryParse(userStringId, out long userId) ? userId : null
            });
            <a asp-controller="Post" asp-action="ShowPost" asp-route-postId="@post.Id" class="read-link rounded-pill">@HtmlLocalizer["Read"]</a>
    </div>
}

