@model VotePartialModel

<div class="vote-result text-center rounded-pill d-flex align-items-center justify-content-start">
    <span id="vote-result">@Model.VoteResult</span>
    @if(Model.UserId is not null)
    {
        <div class="vote-arrow-container d-flex flex-column justify-content-start">
            <input type="hidden" id="vote-data" value='@Json.Serialize(Model)' />
            <button id="upvote-btn" class="vote-btn" onclick="doUpvote()">
                <i class="fa-solid fa-caret-up"></i>
            </button>
            <button id="downvote-btn" class="vote-btn" onclick="doDownvote()">
                <i class="fa-solid fa-caret-down"></i>
            </button>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/voting.js"></script>
}
