@model DevRhythm.Web.Models.MainPostPageModel

<div id="post-section" class="d-flex flex-column align-items-center">
</div>


@section Scripts {
    <script>
        let currentPage = 0;
        let loading = false;
        let isEnd = false;

        function loadMorePosts() {
            if (!loading && !isEnd) {
                loading = true;
                $.ajax({
                    url: '/Post/GetPosts',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        PageNumber: currentPage + 1,
                    }),
                    success: function (data) {
                        if (data) {
                            $('#post-section').append(data);
                            currentPage++;
                            loading = false;
                        } else {
                            isEnd = true;
                        }
                    },
                    error: function () {
                        loading = false;
                    }
                });
            }
        }

        $(window).scroll(function () {
            if ($(window).scrollTop() >= $(document).height() - $(window).height() - 100) {
                loadMorePosts();
            }
        });

        $(document).ready(loadMorePosts());
    </script>
}
